{% extends 'base.html.twig' %}
{# {% extends '@EasyAdmin/page/content.html.twig' %} #}

{% block content_title %}{% endblock %}
{% block page_actions %}
	{#<a class="btn btn-primary" href="..."></a>#}
{% endblock %}

{% block main %}
	<div id="container-banner">
		<div class="banner">
			<div class="mt-2">
				<img class="image" src="https://hum.unne.edu.ar/hum_inicio/imagenes/hum_logo.png" width="185" height="76">
			</div>
			<div class="mt-2 mb-3">
				<img class="image" src="https://hum.unne.edu.ar/hum_inicio/imagenes/logo_60_2.png" width="293" height="43">
			</div>
		</div>
	</div>
	<div class="container py-3">
		<hr>
		<br>
		<div class="p-5 mb-5 bg-light rounded-3">
			<div class="container-fluid py-8">
				<div class="h2">
					<h2 class="display-8 fw-bold text-success">DATOS BANCARIOS<h2>
					<p class="h4 fw-bold text-success">PARA DEPÓSITOS Y/O TRANSFERENCIA ELECTRÓNICA</p>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p class="h5 fw-bold">FACULTAD DE HUMANIDADES UNNE</p>
						<p class="h5">CUENTA CORRIENTE - PESOS
						</p>
						<p class="h5 fw-bold">NRO. CUENTA:
							<span class="h4 text-muted">4291023558</span>
						</p>
						<p class="h5 ">SUCURSAL RESISTENCIA</p>
						<p class="h5 fw-bold">CLAVE BANCARIA UNIFORME (CBU):
						</p>
						<p class="h5">
							<span class="h4 text-muted">0110429920042910235589</span>
						</p>
					</div>
					<div class="col-md-6">
						<p class="h5 fw-bold">CUIT N°
							<span class="h4 text-muted">30-99900421-7</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
