    <h1>Hola, ¡Confirma tu dirección de correo electrónico!</h1>

    <div>
        <h2>Por favor, confirma tu correo electrónico ingresando al siguiente enlace:</h2>
            <a href="{{ signedUrl }}">Confirmar mi correo electrónico</a>.
            Este enlace expirará en  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </div>

    <p>¡Saludos!</p>
    <p>FACULTAD DE HUMANIDADES</p>

