{% extends 'baseNoEA.html.twig' %}

{% block title %}Restablecer password {% endblock %}
{% block subTitle %}
  
    <strong>Checkea tu email</strong>
{% endblock %}


{% block body %}
 <style>
            .container {
                width: 80%;
                   margin: 50px auto 0; /* Para centrar el contenido horizontalmente */
            }
        </style>
<div class="container">

    <p class="lead">
      Si existe una cuenta que coincida con tu correo electrónico, se te acaba de enviar un correo electrónico que contiene
       un enlace para que puedas restablecer tu contraseña.
        Este enlace caducará en <strong>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</strong>.
    </p>
    <p class="lead">Si no recibiste un correo electrónico, revisa tu carpeta de correo no deseado o <a href="{{ path('app_forgot_password_request') }}">intenta otra vez</a>.</p>
</div>
{% endblock %}
