{% extends 'base.html.twig' %}

{% block title %}Restablecer password {% endblock %}

{% block body %}
 <style>
            .container {
                width: 80%;
                   margin: 50px auto 0; /* Para centrar el contenido horizontalmente */
            }
        </style>
<div class="container">

    <p>
      Si existe una cuenta que coincide con su correo electrónico, se acaba de enviar un correo electrónico que contiene un enlace que puede utilizar para restablecer su contraseña.
        Este enlace caducará en <strong>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</strong>.
    </p>
    <p>Si no recibe un correo electrónico, revise su carpeta de correo no deseado o <a href="{{ path('app_forgot_password_request') }}">intente otra vez</a>.</p>
</div>
{% endblock %}
