<h1>Hola, ¡Confirma tu dirección de correo electrónico!</h1>

<h2>Por favor, confirma tu correo electrónico ingresando al siguiente enlace:</h2>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Este enlace expirará en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Saludos cordiales. FACULTAD DE HUMANIDADES</p>
