
{% extends 'base.html.twig' %}

{% block title %}Restablecer password{% endblock %}

{% block body %}

    <style>
            .container {
               width: 80%;
               margin: 50px auto 0; /* Para centrar el contenido horizontalmente */
            }
    </style>
        <div class="container">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1 class="display-6">Restablecer password</h1>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
                <div>
                    <p> 
                    Ingrese su dirección de correo electrónico 
                    y le enviaremos un enlace para restablecer su contraseña.
                    </p>
                </div>

            <button class="btn btn-primary margin= 2px 2px">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
{% endblock %}
