
{% extends 'baseNoEA.html.twig' %}

{% block title %}Restablecer password{% endblock %}
{% block subTitle %}
  
    <strong>Restablecer contrase침a</strong>
{% endblock %}


{% block body %}

    <style>
            .container {
               width: 80%;
               margin: 50px auto 0; /* Para centrar el contenido horizontalmente */
            }
    </style>
        <div class="container">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1 class="display-6"></h1>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
                <div>
                    <p class="lead"> 
                    Ingresa tu direcci칩n de correo electr칩nico 
                    y te enviaremos un enlace para restablecer tu contrase침a.
                    </p>
                </div>

            <button class="btn btn-primary margin= 2px 2px" style="background-color: #6174D1; color: white;">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
{% endblock %}
