{% extends 'base.html.twig' %}

{% block title %}Restablezca su password{% endblock %}

{% block body %}

 <style>
        .container {
            width: 80%;
            margin: 50px auto 0; /* Para centrar el contenido horizontalmente */
            }
 </style>
    <div class="container">

    <h1 class="display-6">Restablecer password</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Restablecer</button>
        {{ form_end(resetForm) }}

    </div>
{% endblock %}
