<!DOCTYPE html>
<html>
<head>
<!-- CSS de Bootstrap -->


<!-- JavaScript de Bootstrap (requiere Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
   
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
    <text y=%221.2em%22 font-size=%2296%22></text></svg>">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('app') }}

            <style>
            .w-90 {
                width: 90%;
                margin: 0 auto; /* Para centrar el contenido horizontalmente */
            }
            #imprimir, #excel {
            margin-bottom: 20px; /* Ajusta el valor según tus necesidades */
}
        </style>
        <style>
            .container {
                width: 90%;
                margin: 0 auto; /* Para centrar el contenido horizontalmente */
            }
        </style>
    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <!-- Aquí va tu contenido -->
    </div>
    {% endblock %}
</body>
</html>