{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Mis Cursos{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Inscribir a curso</a>
{% endblock %}

{% block main %}
    {# {% set url = ea_url()
                    .setController('App\\Controller\\Admin\\PagoCrudController')
                    .setAction('new') %} #}
    <table class="datagrid">
        <thead>
            <tr>
                <td>Curso</td>
                <td>Cuotas Totales</td>
                <td>Cuotas Adeudadas</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                {% 
                    set url_new_pagoCurso = ea_url()
                        .setController('App\\Controller\\Admin\\PagoCrudController')
                        .setAction('obtenerIdCurso')
                        .set('idCurso', curso.id)
                %}
                {# {% 
                    set url_list_pagoCurso = ea_url()
                        .setController('App\\Controller\\Admin\\PagoCrudController')
                        .setAction('index')
                        .set('idCurso', curso.id) 
                %} #}
                <tr>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.cantidadCuotas }}</td>
                    <td>Calculo Cuotas Adeudadas</td>
                    <td>
                        <a class="btn btn-primary" href={{url_new_pagoCurso}} >Denunciar Comprobante</a>
                        {# <a class="btn btn-success" href={{url_list_pagoCurso}}>Ver Comprobantes</a> #}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}